
@{
    ViewData["Title"] = "About";
}


<div class="row" style="width:inherit">
    <img src="~/images/Slide1.JPG"  style="width:inherit"/>
</div>

<div class="row" style="margin-top:30px; width:inherit">
    <img src="~/images/Slide2.JPG" style="width:inherit"/>
</div>
